@{
    ViewData["Title"] = "Create";
}

<h1>Create Category</h1>

<form method="post">
    <input type="text" name="Name" placeholder="Enter category name" /><br /><br />

    <button type="submit">Create Category</button>
</form>


